/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color:lightyellow;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

header h1 {
    text-align: center;
    color: #2c3e50;
}

.payment-info {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.payment-info ul {
    list-style-type: decimal;
    margin-left: 20px;
}

.payment-form {
    margin-top: 30px;
}

label {
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 6px;
}

input[type="text"],
input[type="number"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.payment-status {
    margin-top: 20px;
    font-size: 16px;
    color: #28a745;
    text-align: center;
}
